<%= form_for(@signup, url: invitation_request_path) do |f| %>
  <div><%= hidden_field_tag 'signup[event_id]', @event.id %></div>
  <div><%= hidden_field_tag 'signup[guest_id]', session[:user_id] %></div>
  <%= f.submit "Request Invite", class: "btn btn-primary" %>
<% end %>
