<% unless @event.host_id == session[:user_id] %>
  <div id="sign_me_up_form">
  <% if @requested_ans %>
    <%= render 'repeal_invite_request' %>
  <% else %>
    <%= render 'send_invite_request' %>
  <% end %>
  </div>
<% end %>
